<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.xush.demo.orm.demo.DemoMapper">

	<!-- insert user -->
	<insert id="insert"
		parameterType="com.xush.demo.orm.demo.DemoEntity">
		INSERT INTO XFLY_USER(ID,NAME,PASSWORD,AGE)
		VALUES(#{id},#{name},#{password},#{age});
	</insert>

	<!-- update user -->
	<update id="update"
		parameterType="com.xush.demo.orm.demo.DemoEntity">
		UPDATE XFLY_USER SET USERNAME=#{name} ,
		PASSWORD=#{password} , AGE = #{age}
		WHERE ID=#{id}
	</update>

	<!-- find user -->
	<select id="find" parameterType="int"
		resultType="com.xush.demo.orm.demo.DemoEntity">
		SELECT ID,NAME,PASSWORD,AGE FROM XFLY_USER WHERE ID=#{0}
	</select>

	<!-- delete user -->
	<delete id="delete" parameterType="int">
		DELETE FROM XFLY_USER WHERE ID=#{0}
	</delete>
</mapper>